//Bootstrap override
$grid-breakpoints: (
        xs: 0,
        sm: 580px,
        md: 760px,
        lg: 1100px,
        xl: 1400px,
        xxl: 1900px
) !default;
$container-max-widths: (
        sm: 100%,
        md: 100%,
        lg: 1200px,
        xl: 1300px,
        xxl: 1800px
) !default;

@import 'bootstrap/scss/bootstrap.scss';
@import 'highlight.js/styles/github-dark.css';

@import 'styles/layout.scss';
@import 'styles/home.scss';
@import 'styles/article.scss';
@import 'styles/nav.scss';
@import 'styles/toc.scss';
