//Bootstrap override
:root {
        --navbar-bg-color: #164268;
}

$primary: #2d74b2 !default;
$link-decoration: none !default;
$link-hover-decoration: underline !default;

$grid-breakpoints: (
        xs: 0,
        sm: 580px,
        md: 760px,
        lg: 1100px,
        xl: 1400px,
        xxl: 1900px
) !default;
$container-max-widths: (
        sm: 100%,
        md: 100%,
        lg: 1200px,
        xl: 1300px,
        xxl: 1800px
) !default;
//$font-family-sans-serif: 'Roboto', sans-serif;

@import 'bootstrap/scss/bootstrap.scss';
@import 'highlight.js/styles/github-dark.css';
@import './styles/layout.scss';
@import './styles/article.scss';
@import './styles/markdown.scss';
@import './styles/home.scss';
@import './styles/nav.scss';
@import './styles/toc.scss';
@import './styles/dotnet.scss';

.container.page-type-home {
  padding: 0;
}